################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/ValkyraEngine/Debug
/.vs/ValkyraEngine/v15
/Debug
/ValkyraEngine/x64/Debug
/x64/Debug
